html {
    scroll-behavior: smooth;
}

#home, #projects, #contact {
    scroll-margin-top: 100px;
}



body {
    background-color: rgb(22, 22, 22);
	font-family: 'Be Vietnam Pro', sans-serif;
    text-align: center;
    color: #FF9C3F;
}

.header {
    background-color: rgb(33, 33, 33);
    display: flex;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    border-radius: 5px;
    position: sticky;
    z-index: 100;
    top: 0px;
    width: 99%;
    overflow: hidden;
}

.nav ul li {
    display: inline-block;
    background-color: rgb(44, 44, 44);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    margin: 0 10px;
    padding: 20px;
    border-radius: 5px;
    transition: 0.5s;
}

.nav ul li:hover {
    background-color: rgb(55, 55, 55);
    transition: 0.5s;
    transform: scale(1.05);
}

.nav ul li a {
    color: #FF9C3F;
    text-decoration: none;
    font-size: 20px;
}

.title {
    font-size: 20px;
    padding-left: 1%;
    padding-right: 1%;
    text-shadow: 
    1px 1px 0 #bb5a00, 
    1px 2px 0 #bb5a00, 
    1px 3px 0 #bb5a00,  
    1px 4px 0 #bb5a00,  
    5px 15px 15px black;
}

.container {
    background-color: rgb(28, 28, 28);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	width: fit-content;
	margin: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    text-align: center;
    cursor: default;
    display: inline-block;
    margin: 30px;
}

.container:hover {
    transform: scale(1.015);
    transition: 0.5s;
}

.container > .container, .projectDiv > .container {
    background-color: rgb(50, 50, 50);
}

.projectChild {
    width: 25%;
    min-height: 225px;
}

.projectDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px;
}

.subtitle {
    font-size: 40px;
    /* text-transform: lowercase; */
    text-shadow: 
    1px 1px 0 #bb5a00, 
    1px 2px 0 #bb5a00,    
    5px 5px 5px black;
}

.heading {
    font-size: 30px;
    text-shadow: 
    1px 1px 0 #bb5a00,    
    5px 5px 5px black;
}

.text {
    font-size: 20px;
    text-shadow: 5px 1px 5px black;
}

a:link, a:visited {
    color: #faaf6a;
}

.containerImg {
    float: left;
    width: 100px;
    height: 100px;
    
}

.me:hover {
    color: #faa95e;
}

.button {
    background-color: #FF9C3F;
    border: none;
    color: black;
    padding: 15px 32px;
    margin: 10px;
    box-shadow: 0px 6px #f87e0d;
    transition: all 0.15s;
}
.button:hover {
    box-shadow: 0px 8px #ff7b00;
    transform: translateY(-2px);
}
.button:active {
    transform: translateY(6px);
    box-shadow: 0px 0px #FF9C3F;
}

#line1, #line2, #line3, #line4, #line5 {
    white-space: nowrap;
    height: fit-content;
    overflow: hidden;
    width: 0%;
    max-width: fit-content; /* hab keine bessere Idee, ist nur timing mäßig jetzt ungleichmäßig .-. */
    animation: 
    typing 3s steps(40, end) paused,
    blink-caret 0.75s step-end infinite paused;
}

@keyframes typing {
    from { width: 0% }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #FF9C3F }
}