.title {
    font-size: 120px;
    padding: 0;
    margin: 0;
}

.container {
    position: absolute;
    overflow: unset;
    margin: 0;
    border: 1px solid black;
}

.rainbow {
    background: linear-gradient(90deg, 
    #ff0000, #ff7f00, #ffff00, #00ff00, #0000ff, #4b0082, #9400d3, #4b0082, #0000ff, #00ff00, #ffff00, #ff7f00, #ff0000);
    background-color: transparent;
    background-size: 10000% 10000%;
    animation: rainbow 10s ease infinite;
}

@keyframes rainbow {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
