/* GENERAL */

html {
    scroll-behavior: smooth;
}

#home, #projects, #contact {
    scroll-margin-top: 100px;
}

body {
    background: var(--background-color);
	font-family: 'Be Vietnam Pro', sans-serif;
    text-align: center;
    color: var(--primary-color);
    /* background: linear-gradient(180deg, #F9FDF7, #228478, #0E343F, #071425, #0A1421, #2A1D27, #52272C, #8B2E2B, #DD8243) scroll; */
}

#header {
    background: var(--container-color);
    display: flex;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    border-radius: 5px;
    position: sticky;
    z-index: 100;
    top: 0px;
    overflow: hidden;
    margin: 0 auto;
}

.themeBtn, .popupBtn {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 35px;
    padding: 10px;
    font-size: 35px;
    background: var(--container-inner-color);
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
}

.themeBtn:hover, .popupBtn:hover {
    transition: 0.5s;
    transform: scale(1.025);
    cursor: pointer;
    background: var(--container-highlight-color);

}

.themeBtn:active, .popupBtn:active {
    transition: 0.5s;
    transform: scale(0.95);
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 1);
}

.popupBtn {
    margin-right: 25px !important;
    margin-left: 25px !important;
}

.themeDiv:hover {
    background: var(--container-highlight-color);
    cursor: pointer;
}

.themeDiv:active {
    background: var(--container-color);
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 1);
}


.nav ul li {
    display: inline-block;
    background: var(--container-inner-color);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    margin: 0 10px;
    padding: 20px;
    border-radius: 5px;
    transition: 0.5s;
}

.nav ul li:hover {
    background: var(--container-highlight-color);
    transition: 0.5s;
    transform: scale(1.05);
    cursor: pointer;
}
.nav ul li:active {
    background: var(--container-color);
    transition: 0.5s;
    transform: scale(0.95);
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 1);
}


.nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-size: 20px;
}

.title {
    font-size: 20px;
    padding-left: 1%;
    padding-right: 1%;
    text-shadow: 
    1px 1px 0 var(--shadow-color),
    1px 2px 0 var(--shadow-color),
    1px 3px 0 var(--shadow-color),
    1px 4px 0 var(--shadow-color),
    5px 15px 15px black;
}

.container {
    background: var(--container-color);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	width: fit-content;
	margin: 20px;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;
    text-align: center;
    cursor: default;
    display: inline-block;
    margin: 30px;
}

.container:hover {
    transform: scale(1.015);
    transition: 0.5s;
}

.container > .container, .projectDiv > .container, #themeMenuGrid > .container {
    background: var(--container-inner-color);
}

.projectChild {
    width: 25%;
    min-height: 225px;
}

.projectDiv {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 20px;
}

.subtitle {
    font-size: 40px;
    /* text-transform: lowercase; */
    text-shadow: 
    1px 1px 0 var(--shadow-color), 
    1px 2px 0 var(--shadow-color),    
    5px 5px 5px black;
}

.heading {
    font-size: 30px;
    text-shadow: 
    1px 1px 0 var(--shadow-color),    
    5px 5px 5px black;
}

.text {
    font-size: 20px;
    text-shadow: 5px 1px 5px black;
    color: var(--text-color);
}

a:link, a:visited {
    color: var(--higlight-color);
}

.containerImg {
    float: left;
    width: 100px;
    height: 100px;
    
}

.me:hover {
    color: var(--higlight-color)
}

.button {
    background: var(--button-color);
    color: var(--button-text-color);
    border: none;
    padding: 15px 32px;
    margin: 10px;
    box-shadow: 0px 6px var(--button-shadow-color);
    transition: all 0.15s;
}
.button:hover {
    box-shadow: 0px 8px var(--button-shadow-color);
    transform: translateY(-2px);
}
.button:active {
    transform: translateY(6px);
    box-shadow: 0px 0px;
}

#line1, #line2, #line3, #line4, #line5 {
    white-space: nowrap;
    height: fit-content;
    overflow: hidden;
    width: 0%;
    max-width: fit-content; /* hab keine bessere Idee, ist nur timing mäßig jetzt ungleichmäßig .-. */
    animation: 
    typing 3s steps(40, end) paused,
    blink-caret 0.75s step-end infinite paused;
}

@keyframes typing {
    from { width: 0% }
    to { width: 100% }
}

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: var(--higlight-color) }
}



.popup {
    position: fixed;
    top: 10px;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.blur {
    pointer-events: none;
    filter: blur(10px);
}

.themeImg {
    width: 384px;
    height: 216px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
}

.selected {
    border: 5px solid var(--higlight-color);
}

.popup > .container {
    overflow: auto;
    max-height: 80%;
}

#themeSearch {
    background: var(--container-color);
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 10px;
    color: var(--text-color);
    font-size: 20px;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 1);
}

.switch {
    display: none;
}

.switch + label {
    display: inline-block;
    width: 50px;
    height: 25px;
    border-radius: 25px;
    background: var(--container-color);
    position: relative;
    cursor: pointer;
    box-shadow: inset 0 0 10px 0 rgba(0, 0, 0, 1);
    margin: 10px;
    vertical-align: middle;
    border: 1px solid var(--higlight-color);
}

.switch + label:after {
    content: "";
    display: block;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin: 2.5px;
    background: var(--text-color);
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.switch:checked + label {
    background: var(--container-highlight-color);
}

.switch:checked + label:after {
    left: calc(80% - 0px);
    transform: translateX(-80%);
}

.slimmer {
    max-width: 80% !important;
    left: 10% !important;
}