/* THEMES */

.theme-default {
    /* ORIGINAL */
    --primary-color: #FF9C3F; /* used e.g for titles. */
    --text-color: #ffb773;  /* used e.g for text. */
    --higlight-color: #ffc38b; /* used e.g for links. */
    --shadow-color: #bb5a00; /* used e.g for title shadows. */

    --button-color: #FF9C3F; /* used for buttons. */
    --button-text-color: #000000; /* used for button text. */
    --button-shadow-color: #bb5a00; /* used for button shadows. */

    --background-color: rgb(22, 22, 22); /* used for background. */
    --container-color: rgb(28, 28, 28); /* used for containers. */
    --container-inner-color: rgb(50, 50, 50); /* used for containers in containers. */
    --container-highlight-color: rgb(55, 55, 55); /* used e.g for container hover. */
}

.theme-funty {
    --primary-color: #FF9C3F;
    --text-color: #ffb773;
    --higlight-color: #ffc38b;
    --shadow-color: #bb5a00;

    --button-color: #FF9C3F;
    --button-text-color: #000000;
    --button-shadow-color: #bb5a00;

    --background-color: linear-gradient(180deg, #F9FDF7, #228478, #0E343F, #071425, #0A1421, #2A1D27, #52272C, #8B2E2B, #DD8243) scroll;
    --container-color: rgb(28, 28, 28, 0.6);
    --container-inner-color: rgb(50, 50, 50, 0.2);
    --container-highlight-color: rgb(55, 55, 55, 0.6);
}

.theme-DateAPI {
    --primary-color: #fdfdfd;
    --text-color: #fdfdfd;
    --higlight-color: rgb(243, 158, 169);
    --shadow-color: grey;

    --button-color: #fdfdfd;
    --button-text-color: #000000;
    --button-shadow-color: grey;

    --background-color: #222222;
    --container-color: #353535;
    --container-inner-color: #222222;
    --container-highlight-color: rgb(55, 55, 55);
}

.theme-credits {
    --primary-color: #E6E7F1;
    --text-color: #E6E7F1;
    --higlight-color: #8C9EFF;
    --shadow-color: transparent;

    --button-color: #8C9EFF;
    --button-text-color: #000000;
    --button-shadow-color: transparent;

    --background-color: #131524;
    --container-color: #232742;
    --container-inner-color: #363952;
    --container-highlight-color: #131524;
}

.theme-blackAndWhite {
    --primary-color: #dbdada;
    --text-color: #c4c4c4;
    --higlight-color: #ffffff;
    --shadow-color: #9e9e9e;
    
    --button-color: #dbdada;
    --button-text-color: #000000;
    --button-shadow-color: #9e9e9e;

    --background-color: rgb(22, 22, 22);
    --container-color: rgb(28, 28, 28);
    --container-inner-color: rgb(50, 50, 50);
    --container-highlight-color: rgb(55, 55, 55);
}

.theme-golden {
    --primary-color: #FFFFFF;
    --text-color: #f7e0bc;
    --higlight-color: #FCB542;
    --shadow-color: #b4a998;

    --button-color: #FCB542;
    --button-text-color: #000000;
    --button-shadow-color: #c78a29;

    --background-color: radial-gradient(circle, #D69714, #3A250F);  
    --container-color: #00000049;
    --container-inner-color: #00000049;
    --container-highlight-color: #00000099;
}